.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    width: 60%;
    margin: auto;
    margin-top: 25%;
    color: white;
    background: linear-gradient(-65deg, #7952eec9, #99067ec8);
    z-index: 1000;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid white;
    transform: 'translate(-50%, -50%)';
    position: relative;
}

.modal-header {
    display: flex;
    justify-items: center;
    align-items: center;
}

#exit-button {
    background-color: #7952ee;
    padding: 0.3em;
    font-weight: 900;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0.5em;
    position: absolute;
    top: -20px;
    right: -20px;
}